html {
  scroll-behavior: smooth;
}
body {
  color: white;
  background-color: #121212;
  font-size: xx-large;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}
b {
  color: #ff5f1f;
}

a {
  cursor: default;
  text-decoration: none;
  color: white;
}

nav {
  padding: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.myName {
  width: fit-content;
}

.navButtonContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.navButton {
  margin: 0px 5px;
  padding: 5px 10px;
}
.navButton:hover {
  background-color: #ff5f1f;
  border-radius: 1rem;
}
footer {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}
.contact {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact a {
  cursor: pointer;
  font-size: smaller;
  padding: 5px 25px;
}

.contact a:hover {
  border-radius: 1rem;
  background-color: #ff5f1f;
}
.copyright {
  padding: 10px;
  text-align: center;
  font-size: medium;
}
.sperator {
  border: 0.5px solid #ff5f1f;
}

#about {
  background-color: black;
  background-image: url("/images/background.gif");
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5rem;
}

#about img {
  height: 20rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.description p {
  font-size: 1.2rem;
  width: 50vw;
}

.description a {
  font-size: 1.5rem;
  margin-top: 3rem;
  align-self: flex-start;
  border: 0.5px solid #ff5f1f;
  color: #ff5f1f;
  padding: 2px 25px;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
}

.description a:hover {
  background-color: white;
  color: #ff5f1f;
}
